In [0]:
pip install wikipedia

In [0]:
import pandas as pd 
import wikipedia as wp
from bs4 import BeautifulSoup

In [0]:
html = wp.page("List of postal codes of Canada: M").html().encode("UTF-8")

In [0]:
df = pd.read_html(html, header = 0)[0]

In [0]:
df = df[df.Borough != 'Not assigned']

In [0]:
df = df.groupby(['Postal code', 'Borough'])['Neighborhood'].apply(list).apply(lambda x:', '.join(x)).to_frame().reset_index()

In [0]:
for index, row in df.iterrows():
    if row['Neighborhood'] == 'Not assigned':
        row['Neighborhood'] = row['Borough']

In [13]:
df

    Postal code      Borough                                       Neighborhood
0           M1B  Scarborough                                    Malvern / Rouge
1           M1C  Scarborough           Rouge Hill / Port Union / Highland Creek
2           M1E  Scarborough                Guildwood / Morningside / West Hill
3           M1G  Scarborough                                             Woburn
4           M1H  Scarborough                                          Cedarbrae
..          ...          ...                                                ...
98          M9N         York                                             Weston
99          M9P    Etobicoke                                          Westmount
100         M9R    Etobicoke  Kingsview Village / St. Phillips / Martin Grov...
101         M9V    Etobicoke  South Steeles / Silverstone / Humbergate / Jam...
102         M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [14]:
df.shape

(103, 3)